<!-- Encabezado -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/"></ion-back-button>
    </ion-buttons>
    <!-- Logo de la aplicación -->
    <div class="logo-container">
      <img src="assets/logo_letras.png" alt="MundoManga Logo" class="header-logo">
    </div>
    <ion-buttons slot="end">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="manga-container">
    <!-- Información del manga -->
    <div class="manga-info">
      <h1 class="manga-title">{{manga?.nombre}} #{{manga?.volumen}}</h1>
      
    <!-- Imagen de portada -->
    <div class="manga-cover-container">
      <img [src]="manga?.imagen" [alt]="manga?.nombre" class="manga-cover">
    </div>

      <!-- Descripción del manga -->   
      <div class="info-section">
        <ion-item lines="none">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Autor</h2>
            <p>{{manga?.autor}}</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="bookmark-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Género</h2>
            <p>{{manga?.genero}}</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="document-text-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Sinopsis</h2>
            <p>{{manga?.sinopsis}}</p>
          </ion-label>
        </ion-item>
      </div>

      <!-- Botones wishlist y colección -->
      <div class="action-buttons">
        <!-- Botón dinámico de wishlist que cambia según si el manga está añadido en la wishlist o no -->
        <!-- (click): Solo aparece quitarDeWishlist() si el manga viene de la wishlist -->
        <ion-button expand="block" 
                    [class]="esDeWishlist ? 'wishlist-button-remove' : 'wishlist-button'"
                    (click)="esDeWishlist ? quitarDeWishlist() : null">
          <ion-icon [name]="esDeWishlist ? 'trash-outline' : 'heart-outline'" slot="start"></ion-icon>
          {{ esDeWishlist ? 'Quitar de Mi Wishlist' : 'Añadir a Wishlist' }}
        </ion-button>
        
        <!-- Botón dinámico de colección que cambia según si el manga está añadido en la colección o no -->
        <!-- (click): Solo aparece quitarDeColeccion() si el manga viene de la mangateca -->
        <ion-button expand="block" 
                    [class]="esDeMangateca ? 'collection-button-remove' : 'collection-button'"
                    (click)="esDeMangateca ? quitarDeColeccion() : null">
          <ion-icon [name]="esDeMangateca ? 'trash-outline' : 'library-outline'" slot="start"></ion-icon>
          {{ esDeMangateca ? 'Quitar de Mi Colección' : 'Añadir a Mi Colección' }}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
