.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.header-logo {
  height: 30px;
  width: auto;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 2rem;
}

.error-icon {
  font-size: 5rem;
  color: var(--ion-color-danger);
  margin-bottom: 1rem;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
  color: #5a1b8d;
  line-height: 1;
}

h2 {
  font-size: 1.5rem;
  color: var(--ion-color-dark);
  margin: 1rem 0;
}

ion-button {
  --border-radius: 25px;
  margin-top: 1rem;
  max-width: 300px;
  --background: #e653ba;
  --background-hover: #d13da8;
  --background-activated: #d13da8;
}

@media (max-width: 576px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .error-icon {
    font-size: 4rem;
  }
}
