<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- Logo de la aplicación -->
    <div class="logo-container">
      <img src="assets/logo_letras.png" alt="MundoManga Logo" class="header-logo">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="error-container">
    <ion-icon name="alert-circle-outline" class="error-icon"></ion-icon>
    <h1>ERROR 404</h1>
    <h2>¡Ups! Página no encontrada</h2>
    <ion-button expand="block" routerLink="/login">
      <ion-icon name="home-outline" slot="start"></ion-icon>
      Volver al inicio
    </ion-button>
  </div>
</ion-content>
