<!-- Encabezado -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>
    <!-- Logo de la aplicación -->
    <div class="logo-container">
      <img src="assets/logo_letras.png" alt="MundoManga Logo" class="header-logo">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Título MANGAS -->
  <div class="container">
    <h2 class="novedades-title">NOVEDADES</h2>
  </div>

  <!-- Listado de Novedades de mangas -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let novedad of novedades">
        <ion-card (click)="verDetalleManga(novedad)">
          <img [src]="novedad.imagen" [alt]="novedad.nombre" class="novedad-cover">
          <ion-card-header>
            <ion-card-title>{{novedad.nombre}} #{{novedad.volumen}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
