<!-- Encabezado -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>
    <!-- Logo de la aplicación -->
    <div class="logo-container">
      <img src="assets/logo_letras.png" alt="MundoManga Logo" class="header-logo">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Título WISHLIST -->
  <div class="container">
    <h2 class="wishlist-title"> MI WISHLIST</h2>
  </div>

  <!-- Listado de mangas en wishlist usando el componente MangaCard -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let manga of wishlist">
        <app-manga-card 
          [manga]="manga"
          (mangaClick)="verDetalleManga($event)">
        </app-manga-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
