/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/** Angular Material **/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Estilos globales */
//Fondo de la aplicación
ion-content {
  --background: #E6D6F3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  --padding-top: 0 
  --margin-top: 0 
}

/* Estilos para el menú */
ion-menu {
  --background: #E6D6F3;
  
  ion-toolbar {
    --background: #E6D6F3;
  }

  ion-list {
    background: transparent;
  }

  ion-item {
    --background: transparent;
    --color: #5a1b8d;
    margin: 10px 0;
    
    &.selected {
      --background: rgba(230, 214, 243, 0.5);
      --color: #e653ba;
    }

    ion-icon {
      color: #e653ba;
    }
  }
}

/* Estilos globales para headers y toolbars */
ion-header {
  ion-toolbar {
    --background: #E6D6F3;
    --border-width: 0;
    --border-style: none;
    --box-shadow: none;
    --min-height: 56px;
    --border-color: transparent;
    box-shadow: none !important;
  }
}

ion-menu-button {
  --color: #db1ca2;
}

/* Estilos para el contenido principal */
.container {
  padding: 16px;
}

