<ion-header [translucent]="true">
  <div class="logo-container">
    <!-- Logo -->
    <img src="assets/logo.png" alt="MundoManga Logo" class="main-logo">
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Mensaje de bienvenida -->
  <div class="container">
    <h2 class="welcome-message">¡Bienvenid&#64; {{username}}!</h2>
  </div>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
