<!-- Encabezado -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>
    <!-- Logo de la aplicación -->
    <div class="logo-container">
      <img src="assets/logo_letras.png" alt="MundoManga Logo" class="header-logo">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Mensaje de bienvenida -->
  <div class="container">
    <h2 class="welcome-message">¡Bienvenid&#64; {{username}}!</h2>
  </div>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
